name: jahrrr
version: 0.1.0
publish_to: "none"

description: CRM for designers to track clients, budgets, milestones, payments, deadlines, and analytics.

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_lints: ^3.0.2

flutter:
  uses-material-design: true
